.order {
  margin-top: 32px;
  padding: 12px 16px 16px;
  border-radius: 8px;
  background-color: #f7f7f9;

  &-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #363a43;
  }

  &__description {
    margin-block: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    &-text {
      color: #363a43;

      &--product-name {
        margin-top: 16px;
        line-height: 20px;
      }
      &--category {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #797e8b;
      }
    }

    &-wrapper {
      &::before,
      &::after {
        content: '';

        display: block;
        
        width: 100%;
        height: 1px;
        margin-top: 16px;
    
        background-color: #c7c9d1;
      }
    }
  }

  &__price {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #363a43;
    text-align: end;

    &-unit {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      text-align: end;
      color: #363a43;
    }
  }
}