.header {
    display: flex;
    gap: 16px;
    width: 100%;
    
    &__title {
      margin: 0;
      height: 32px;
      line-height: 32px;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      
    }
  
    &__text-wrapper {
        margin-top: 4px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex-grow: 1;
    }
  
    &__text {
      text-align: center;
  
      &--large {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }
  
      &--small {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    }
  
    &__button {
      border: none;
      width: 40px;
      height: 40px;
      padding: 0;
      cursor: pointer;
      background-color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #363A43;
        text-align: center;
        transition: 
      background-color 0.3s ease,
      box-shadow 0.3s ease,
      transform 0.2s ease,
      color 0.3s ease;

    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    &:active {
      transform: scale(0.96);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    

      &--back {
        background-image: url('/images/icons/arrow-left.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
      }
    }
  }